* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  color: var(--colorstandard);
}

:root{
  --colorbackground: #dbe7ff;
  --colorstandard: #394863;
  --colorparagraph: #2b2d30;
  --colorError: rgba(255, 0, 0, 0.671);
}

body{
  padding: 20px 160px;
  background-color: var(--colorbackground);
}

.content{
  margin: auto;
}

header{
  margin-bottom: 40px;
}

.logo{
  color: var(--colorstandard);
  font-size: 2em;
  font-variant: small-caps;
}

.max{
  max-width: 350px;
}

.text{
  color: black;
}

.image{
  display: flex;
  justify-content: space-between;
  height: 150px;
}

.image p{
  font-size: 1.5em;
  margin-bottom: 30px;
}

.image img{
  margin-top: -80px;
  width: 30vw;
}

.error{
  width: 400px;
}

.paragraph{
  color: var(--colorparagraph);
}

form p{
  margin-bottom: 10px;
}

label{
  position: relative;
  font-weight: bold;
  color: #444040;
}

.CEP{
  width: 350px;
  height: 50px;
  border-radius: 40px;
  box-shadow: 0px 0px 2px var(--colorstandard);
  padding-left: 20px;
  font-size: 1.5em;
}

.success:focus{
  box-shadow: 0px 0px 4px var(--colorstandard);
}

.errorInput{
  box-shadow: 0px 0px 4px var(--colorError);
}

.errorInput input:focus{
  box-shadow: 0px 0px 4px var(--colorstandard);
}

label button{
  display: flex;
  align-items: center;
  cursor: pointer;
  position: absolute;
  bottom: -16%;
  right: 1%;
  height: 46px;
  padding: 16px;
  border-radius: 40px;
  background-image: linear-gradient(to right, #84A7E8, #394863) ;
  color: #fff;
  transition: 300ms;
}

label button:hover{
  filter: brightness(90%);
}

.flex{
  display: flex;
  flex-direction: column;
}

.result input{
  margin: 4px 0;
  background-color: #ffffff7c;
}

.result p{
  margin-top: 20px;
  color: var(--colorparagraph);
  font-weight: bold;
}

.result > input:nth-child(3){
  margin-right: 10px;
  width: 270px;
}

.result input:nth-child(4){
  width: 70px;
}

.hidden{
  display: none;
}

input{
  width: 350px;
  height: 50px;
  border-radius: 40px;
  box-shadow: 0px 0px 2px var(--colorstandard);
  padding-left: 20px;
  font-size: 1.5em;
}

.errorParagraph{
  margin-top: 5px;
  color: var(--colorError);
  max-width: 380px;
}

@media (max-width: 1210px){
  body{
    padding: 20px 80px;
  }

}

@media (max-width: 1000px){
  body{
    padding: 20px 50px;
  }

  .image img{
    margin-left: 60px;
    width: 40vw;
  }

  .image p{
    min-width: 350px;
  }

}

@media (max-width: 610px){
  body{
    padding: 20px 20px;
  }

  .image{
    display: block;
  }

  .image img{
    position: absolute;
    top: 0;
  }

  .container{
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .error{
    display: none;
  }
}

main{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 355px;
  height: 215px;
}

.loader-container{
  position: absolute;
  top: 15%;
  left: 40%;
}

.loader {
	display: inline-block;
	width: 50px;
	height: 50px;
}

.loader div {
  position: absolute;
  border: 4px solid var(--colorstandard);
  opacity: 1;
  border-radius: 20%;
  top: 0;
  left: 25%;
  animation: loader 1.5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.loader-container div:nth-child(2) {
  animation-delay: -0.5s;
}

.teste{
  display: none;
}

button:disabled{
  opacity: 0.5;
  cursor: no-drop;
}

@keyframes loader {
	0% {
		top: 38px;
		left: 28px;
		width: 0;
		height: 0;
		opacity: 1;
	}

	100% {
		top: -20px;
		left: -30px;
		width: 108px;
		height: 108px;
		opacity: 0;
	}
}


